/*Backgroud #424242*/
/*SubColoc #616161*/

body{
    color:white;
    background-color: #424242;
}

select{
    padding:3px;
    background-color: #616161;
    border:solid 1px black;
    text-align: left; 
    color:white;
    font-size: 20px;
    min-width: 130px;
    width: 60%;
    padding-right:20px ;
    background:  url(test.png) no-repeat right #616161;
    background-size: 20px;
    -webkit-appearance: none;
}

.main{
   
    padding: 0;
    margin: 0;
   
    display: flex;
}
.Recherche{
    width: 50%;
}

#mapid { height: 500px; }



.inputSearch{
    margin-left:17% ;
    margin-top:5%;
    padding-right:20px ;
    padding:3px;
    background-color: #616161;
    border:solid 1px black;
    
    text-align: left; 
    color:white;
    font-size: 20px;
    min-width: 130px;
    background:  #616161;
}



.inputData{
    padding:3px;
    overflow-x: hidden;
    background-color: #616161;
    border:solid 1px black;
    text-align: left; 
    color:white;
    font-size: 16px;
    margin: 5px;
    height: 30px;
    min-width: 130px;
    width: 80%;
    padding-right:20px ;
    background:  url(test.png) no-repeat right #616161;
    background-size: 20px;
    -webkit-appearance: none;
}

.inputFinal{
    padding:3px;
    overflow-x: hidden;
    background-color: #616161;
    border:solid 1px black;
    text-align: left; 
    color:white;
    font-size: 16px;
    height: 30px;
    min-width: 130px;
    padding-right:20px ;
    background: #616161;
    background-size: 20px;
    -webkit-appearance: none;
    margin-left: 25%;
}

.inputDel{
    padding:3px;
    border:solid 1px black;

    overflow-x: hidden;
    background-color: #616161;
    text-align: center; 
    color:white;
    font-size: 16px;
    height: 30px;
    margin-left: 20ox;
    
    background: #616161;
   
}
.table-search{
    width: 80%;
    margin-left:17% ;
    margin-top:5%;
}

.Map{
    width: 30%;
    
    text-align: center;
}

.Formation{
    width: 20%;
    margin-left: 5%;
}
.title1{
    background-color: #616161;
    border:solid 1px black;
    text-align: center;
    margin: 2% 10% 2% 10%;
    font-size: 38px;
    
}

.group{
    padding:3px;
    padding-top: 10px;
    background-color: #616161;
    border:solid 1px black;
    text-align: left; 
    color:white;
    font-size: 20px;
    min-width: 130px;
    width: 60%;
}

.GroupSearch{
    width: 80%;
    margin-left:17% ;
    margin-top:5%;
}

.deleteLink{
    float: right;
    margin-right: 5px;
    vertical-align: middle;
    fill: white;
}

a{
    text-decoration: none;
}
a:visited, a:link{
    color:white;
}
a:hover{
    color:red;
    fill: red;
}

.wrapColumn{
    display: flex;
    margin-left: 15%;
}

.wrap{
    display: flex;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #616161;
    border:solid 1px black;
    color: white;
    text-align: center;
  }

  .footer>a:hover {
    color: blue;
  }